@import url(../UniSansHeavy/UniSansHeavy.eot);
@import url(../UniSansHeavy/UniSansHeavy.ttf);
@import url(../UniSansHeavy/UniSansHeavy.woff);
@import url(../UniSansThin/UniSansThin.eot);
@import url(../UniSansThin/UniSansThin.ttf);
@import url(../UniSansThin/UniSansThin.woff);


/*------   FONT_SIZES   ------*/
.font-size-14{
    font-size: 14px;
    color: white;
}
.font-size-15{
    font-size: 15px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
    color:white;
}
.font-size-19{
    font-size: 19px;
}
.font-size-24{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.font-size-36{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.ul-font{
    
    font-family: PFAgoraSansPro;
    color:  #8eb24d;
    font-style: italic;
    text-align: left;
    
}
.font-size-30{
    font-size: 30px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-34{
    font-size:34px;
    text-transform: uppercase;

}
.text-transform{
    text-transform: uppercase;
}
.font-size-32{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.font-size-40{
    font-family: UniSansHeavyCaps;
    color:  #ffffff;
    font-size: 40px;/* Approximation due to font substitution */
    /* font-weight: 400; */
    text-align: left;
}

/*------   FONT_SIZES   ------*/

.btn1{
    background: -webkit-linear-gradient(90deg, #ff9900 0%, #ffc163 100%);
    background: -moz-linear-gradient(90deg, #ff9900 0%, #ffc163 100%);
    background: -o-linear-gradient(90deg, #ff9900 0%, #ffc163 100%);
    background: -ms-linear-gradient(90deg, #ff9900 0%, #ffc163 100%);
    background: linear-gradient(0deg, #ff9900 0%, #ffc163 100%);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.28);
    width: 293px;
    height: 57px;
    border-radius: 35px;
    margin-left: 15px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cont1{
    background: url('../images/back-img1.jpg') no-repeat center center ;
    height: 963px; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.ul-font li{
    margin-top: 25px;
}
.jum1{
    width:90%;
    margin:0 auto;
    height: 126px;
}
/* div{
    border: 1px solid red;
} */
.nav1{
    height: 126px;
}   
.nav-head{
    padding:2% 0;
    padding-left: 3px;
}
.nav-head1{
    padding: 1% 0;
}
.img-logo{
 
height: 90px;
width: 110px;
background: url(../images/logo1.png) no-repeat center center;
}

.size{
    width: 182px;
    height: 97px;
}
/* .img1{
    background: url('../images/slayder/1.png') no-repeat center center;
}
.img2{
    background: url('../images/slayder/2.png') no-repeat center center;
}
.img3{
    background: url('../images/slayder/3.png') no-repeat center center;
}
.img4{
    background: url('../images/slayder/4.png') no-repeat center center;
}
.img5{
    background: url('../images/slayder/5.png') no-repeat center center;
} */

.nav2{
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 126px;
    padding:31.5px 0;
    
}
.nav2 li a{
 font-family: PFAgoraSansPro;
color:  #ffffff;
font-size: 16px;/* Approximation due to font substitution */
font-style: italic;
text-decoration: underline;
text-align: left;
}
.nav2 li a:hover{
    background: none;
    text-decoration: underline;
}

.row1{
        margin-left: 157px;
    margin-top: 70px;
   
}

.text1{
    font-family: PFAgoraSansPro;
    color:  #344a00;
    font-size: 30px;/* Approximation due to font substitution */
    font-weight: 100;
    font-style: italic;
    line-height: 30px;/* Approximation due to font substitution */
    text-align: left;
    margin-top: 145px;
    margin-left: 1px;
}
.text2{
    font-family: UniSansThinCaps;
    color: black;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    width: 550px;
    height: 65px;
    margin-top: 401px;
    margin-left: 550px;
}
.text2 p{
font-weight: bold;
}
.vk-size{
    width: 43px;
    height: 43px;
}
.slider-l{
    background-image: url('../images/slayder/left.png');
}
.slider-r{
    background-image: url('../images/slayder/right.png');
}
.slider-margin{
    margin:34px 0;
}
.slider-size{
    
    width: 30px;
    height: 30px;
}
.vk{
    background: url('../images/icons/vk.png') no-repeat;
}
.insta{
    background: url('../images/icons/insta.png') no-repeat ;
}
.row2{
    margin: 100px auto;
    width: 90%;
}


.text3{
    text-align: center;
    margin-bottom: 20px;
    
    font-family: UniSansHeavyCaps;
}
.text-info{
    font-style: italic;
    font-size: 24px;
}
.row7>div{
    margin-bottom:25px;
}
.row7{
    width: 90%;
    margin:80px auto; 
}
.row9{
    width: 90%;
    margin: 40px auto;
}
.row9-1 ul{
  
    list-style-image: url('../images/slider_text/tick.png');
}


.row5{
    width: 90%;
    margin: 0 auto;
}
.row5 .font-size-34{
    margin:20px 0;
}
.row5-1{
    background: url('../images/row5.png') no-repeat center center;
    height: 388px;
}
.row3{
    background: url('../images/esim\ inch.png') no-repeat center center ;
    height: 773px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.row4{
    width: 90%;
    margin: -80px auto 0;
    background: url('../images/xot.png') no-repeat center center ;
    height: 627px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.flex-div{
    flex-direction: column;
    width: 304px;
    height: 303px;
}
.slider-img{
    margin: 0 auto;
    width: 330px;
    height: 290px;
    
    background: url('../images/layers/layer2.png') no-repeat center center;
}
.slider-l1{
    position: absolute;
    top: 43%;
}
.slider-r1{
    position: absolute;
    top: 43%;
    left: 89%;
}
/* .single-item{
    padding-left: 43px;
    position: relative;
} */
.row-center{
    margin:35px auto;
    height: 357px;
}
.ul-slide{
    color: black;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 26px;
}
.ul-slide + button{
    margin-left: 111px;
}
.row6{
    background: url('../images/nkar2.jpg') no-repeat center center ;
    height: 921px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.row6-1{
    width: 90%;
    margin: 40px auto;
    margin-bottom: 0;
}
.row6-2 div{
    width:1170px;
    margin: 0 auto;
}

.row6-div{
    margin-top: -120px;
    position: relative;
    background: url('../images/rek.png') no-repeat center center;
    height: 200px;
    width: auto;
}
.row6-div span:first-child{
    position: absolute;
    top: 70px;
    left: 280px;
}
.span1{
    position: absolute;
    top: 137px;
    left: 282px;
}
.row6-div a{
    position: absolute;
    top: 85px;
    left: 1115px;
}

.logo3{
    width:370px;
    height:138px;
    background: url("../images/akcia.png") no-repeat center center;
}

.div2{
    width: 416px;
    text-transform: uppercase;
    color:white;
    line-height:1;
    margin-left: -27px;
}
.div2,.div3,.div4{
    margin-top: 46px;
}
.div3{
    width:14px;
}
.div4{
    width: 418px;
}
.text-logo2{
    float: left;
}
.row9-2 ul li{
   margin: 10px;

}

.li1{
    height: 170px;
    
}
.li2{
    height: 110px;
} 
.ul-color{
    color: #8eb24d;
}
.ul-color p{
    color: black;
}
.row10{
    width: 90%;
    margin: 0 auto;
    height: 127px;
    padding-top: 23px;
    background: url('../images/footer1.jpg') no-repeat center center;
}
.logo-text{
    color: black;
    margin-top: 10px;
}
.phone-footer{
    
    color: black;
    padding-top:-12px;
    padding-bottom: 2px;
}
.row8{
    background: url('../images/xoter3.jpg') no-repeat center center;
    height:342px ;
}
.row8-1{/***********************/
    width: 90%;
    margin:0 auto;
    padding-top: 60px;
}
.row8-2{
    margin-left: 70px;
    width: 865px;
}
.user-div{
    margin-top: 33px;
    margin-left: 70px;
    width: 187px;
}
.user{
    width:156px;
    height: 156px;
    background: url('../images/slider_text/Layer\ 39.png') no-repeat center center;
}
.icon-link{
    width: 270px;
    margin-left:300px; 
    /* justify-content: flex-end; */
}
.icon-link a{
    padding-top: 11px;
    color: white;
    text-decoration: underline;
}
.flex1{
    width: 835px;
}
.row-but{
    margin:12px auto;
    width:90%;
}